@model object

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<link href="lib/Chart.js/Chart.css" rel="stylesheet" />
<h2>title</h2>

<div class="row">
    <div class="col-md-8">
        <canvas id="temperatureGraph" width="400" height="400"></canvas>
    </div>
</div>