@model List<SimpleReportViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var xLabels = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.DimensionOne).ToList());
    var yValues = Newtonsoft.Json.JsonConvert.SerializeObject(Model.Select(x => x.Quantity).ToList());
    ViewData["Title"] = "Trabajos de graduacion por tipo";
}

<div class="row" style="margin-top: 25px">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <br />
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
        <div class="chart">
            <canvas id="chart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
        </div>
    </div>
</div>

@section script
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">

    $(function() {
        var barChartCanvas = $('#chart').get(0).getContext('2d');
        var data = {
            labels: @Html.Raw(xLabels),
            datasets: [{
                label: "Trabajos de Graduacion",
                backgroundColor: [
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgb(246, 41, 78)'
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgb(246, 41, 78)'
                ],
                borderWidth: 1,
                data: @Html.Raw(yValues) }]
        };

        var chartOptions = {
            maintainAspectRatio     : false,
            datasetFill             : false,
            legend: {
                display: true,
                position: 'top',
                labels: {
                    boxWidth: 80,
                    fontColor: 'black'
                }
            }
        };

        var barChart = new Chart(barChartCanvas,
            {
                type: 'pie',
                data: data,
                options: chartOptions
            });


    });

    </script>
}