@using CatalogoWebApp.Controllers
@using Microsoft.Extensions.Logging
@model CatalogoWebApp.Inputs.TrabajoDeGraduacionInput
@inject ILogger<TrabajosDeGraduacionController> Logger
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Logger.LogInformation("Test");
}

<h3 class="text-center">Nuevo trabajo de graduacion </h3>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AutorId" class="control-label"></label>
                <select asp-for="AutorId" class="form-control" asp-items="ViewBag.AutorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <textarea asp-for="Descripcion" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    <label asp-for="Year" class="control-label"></label>
                    <select asp-for="Year" class="form-control" asp-items="ViewBag.Years"></select>
                </div>
                <div class="col-md-6 form-group">
                    <label class="control-label">Tipo</label>
                    <select asp-for="TipoId" class="form-control" asp-items="ViewBag.TipoId"></select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div style="margin-top: 15px">
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-undo"></i><span> Regresar</span></a>
</div>

