@model CatalogoWebApp.Models.Autor

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="text-center">Nuevo autor</h3>
<hr />
<div class="row">
    <div class="col-md-4"></div>
    <div class="form-group col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control"/>
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control"/>
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos" class="control-label"></label>
                <input asp-for="Apellidos" class="form-control"/>
                <span asp-validation-for="Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Carrera</label>
                <select asp-for="CarreraId" class="form-control" asp-items="ViewBag.CarreraId"></select>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary"> <i class="fa fa-save"></i><span> Guardar</span></button>
                <a class="btn btn-primary" asp-action="Index"><i class="fa fa-undo"></i><span> Regresar</span></a>
            </div>
        </form>
    </div>
</div>

