<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/lib/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/skins/skin-unicaes.css" rel="stylesheet" />
    <link href="~/lib/admin-lte/css/AdminLTECustom.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/admin-lte/js/adminlte.js"></script>
</head>
<body id="body" class="hold-transition skin-unicaes fixed sidebar-mini sidebar-mini-expand-feature">
    <div class="wrapper">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <div class="logo-mini text-vertical"><b>UNICAES</b></div>
                <span class="logo-lg"><img src="~/img/logo144.png" alt="LogoUnicaes" /></span>

            </a>


            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- search form (Optional) -->
                <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
                <!-- /.search form -->
                <!-- Sidebar Menu -->
                <ul id="myDIV" class="sidebar-menu" data-widget="tree">
                    <li class="header">Menu</li>
                    <!-- Optionally, you can add icons to the links -->
                    <li><a asp-controller="Home" asp-action="Index"><i class="fa fa-home"></i> <span>Inicio</span></a></li>
                    <li><a asp-action="Index" asp-controller="TrabajosDeGraduacion"><i class="fa fa-book"></i> <span>Catalogo</span></a></li>
                    <li><a asp-action="Index" asp-controller="Autores"><i class="fa fa-id-badge"></i><span>Autores</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-line-chart"></i> <span>Estadisticas</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a asp-controller="Estadisticas" asp-action="Facultad">Por Facultad</a></li>
                            <li><a asp-controller="Estadisticas" asp-action="Tipo">Por Tipos</a></li>
                            <li><a asp-controller="Estadisticas" asp-action="Year">Por Años</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="background-color: #ffffff !important">
            <!-- Content Header (Page header) -->
            <section class="content-header" style="background-color: #ffffff !important">
            </section>
            <!-- Main content -->
            <section class="content container-fluid" style="background-color: #ffffff !important">
                <!--------------------------
                  | Your Page Content Here |
                  -------------------------->
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="pull-right hidden-xs">
                <b>DF</b>
            </div>
            <!-- Default to the left -->
            <strong>Copyright &copy; 2020 <a href="#">UNICAES</a>.</strong> All rights reserved.
        </footer>
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>


    @await RenderSectionAsync("script", false)

</body>
</html>
